<a href="/networks/<%= session[:id] %>">My Profile</a>
<a href="/mains">Logout</a>
<h2>Users you may want to connect with:</h2>
<table>
  <thead>
    <tr>
    <td>Name</td>
    <td>Action</td>
  </tr>
  </thead>
  <tbody>
  <% @list_user.each do |user| %>
  <% next if @user.id == user.id %>
  <% next if @user.colleagues.pluck(:id).include?(user.id) %>
  <% next if @user.invitations.pluck(:colleague_id).include?(user.id) %>
  <% next if user.invitations.pluck(:colleague_id).include?(@user.id) %>
    <tr>
      <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
      <td><%= button_to "Connect", invitations_path, :params => {:colleague_id => user.id}, :method => :post %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
